#pricing {
	display: flex;
	justify-content: center;
	text-align: center;
}
.precio {
	position: relative;
}

.numero {
	font-size: 50px;
}

.tabla {
	background-color: #40aa458f;
	padding: 30px;
}
.caracteristicas {
	font-size: 14px;
}

.tablaboton {
	color: #080808;
	text-decoration: none;
	padding: 8px 2px;
	margin-top: 20px;
	display: inline-block;
}
