@use "parrafos";
@use "footer";
@use "form";
@use "mixinsfunc";
@use "galeria";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}
body {
    background-color: #68b0ab;
    font-size: 2rem;
}

.main {
    &__container {
        display: flex;
        flex-direction: column;
        width: 90%;
        h1 {
            text-align: center;
        }
        img {
            width: 49vh;
        }
        @media (min-width: 768px) {
            img {
                width: 100vh;
            }
        }
    }
}
.main__container2 {
    @include mixinsfunc.caja-de-fotos;
}
.main__container2 {
    @extend .main;
}
.main__container3 {
    @extend .main__container2;
}
.main__container4 {
    @extend .main__container3;
}

article {
    div {
        h1 {
            text-align: center;
        }
        p {
        }
    }
}
