$color1: #cc5d4c;

@use "parrafos";
@use "footer";
@use "form";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}
body {
    background-color: #c7d1af;
    font-size: 2rem;
}

.main {
    &__container {
        display: flex;
        flex-direction: column;
        width: 90%;
        h1 {
            text-align: center;
        }
        img {
            width: 49vh;
            justify-content: center;
        }
        @media (min-width: 768px) {
            img {
                width: 100vh;
            }
        }
    }
}
.main__container2 {
    display: flex;
    flex-direction: column;
    background-color: #5b5847;
    justify-content: space-around;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
    }
}
.main__container2 {
    @extend .main;
}
.main__container3 {
    @extend .main__container2;
}
.main__container4{
    @extend .main__container3
}